<!-- **************** START HERO SECTION ****************-->
{{ partial:partials.pages.home.hero }}
<!-- **************** START HERO SECTION ****************-->

<!-- **************** START THREE BLOCK SECTION ****************-->
{{ partial:partials.pages.home.three-block-section }}
<!-- **************** START THREE BLOCK SECTION ****************-->

<!-- **************** START LATEST SECTION ****************-->
{{ partial:partials.pages.home.latest-newsletter }}
<!-- **************** START LATEST SECTION ****************-->

<!-- **************** START NEWSLETTER CATEGORIES ****************-->
{{ partial:partials.pages.home.newsletter-categories }}
<!-- **************** START NEWSLETTER CATEGORIES ****************-->

<!-- **************** START FOOTER FORM ****************-->
{{ partial:partials.forms.footer-subscribe-form }}
<!-- **************** END FOOTER FORM ****************-->

<!--{{ section_2_repeater_it }}-->
<!--<h1>{{ h }}</h1>-->
<!--<p>{{ cont }}</p>-->
<!--<img src="{{ i:permalink }}" alt="{{ i:alt }}" />-->

<!--{{ /section_2_repeater_it }}-->

<!--<br>-->
<!--<br>-->

<ul>
    {{ posts }}
    <li>{{ title }}</li>
    {{ /posts }}
</ul>
