<div class="latest-newsletter pb-3 pb-sm-5">
    <div class="container" >

        <div class="row mb-4">
            <div class="col text-center">
                <h2 class="main-heading text-uppercase" >Latest Newsletter</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="latest-newsletter-bg">
                    <div class="latest-featured-newsletter" >

                        <div class="latest-featured-newsletter-image mb-2" >
                            <a href="">
                                <img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image">
                            </a>
                        </div>

                        <h6 class="newsletter-title my-3" ><a href="">Newsletter Title</a></h6>

                        <div class="latest-featured-newsletter-category" >
                            <h6><span class="badge badge-gray rounded-sm">Financial Management</span></h6>
                        </div>

                        <div class="latest-featured-newsletter-excerpt" >
                            <p class="mb-0" >
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of
                                type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially
                                unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing
                                software like Aldus PageMaker including versions
                                of Lorem Ipsum.
                            </p>
                        </div>

                        <div class="latest-featured-newsletter-date mt-2" >
                            <a href="">20 January 2024</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-lg-0">
                <div class="latest-newsletter-bg">

                    <div class="latest-newsletter-list-container-bg mb-2 p-4 rounded" >
                        <div class="container px-0">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                                    <div>
                                        <a href="">
                                            <img src="https://placehold.co/600x400" class="img-fluid rounded w-100" alt="featured-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <h6 class="newsletter-title" >
                                        <a href="">Newsletter Title</a>
                                    </h6>
                                    <div class="latest-newsletter-list-category" >
                                        <h6><span class="badge text-bg-light badge-white rounded-sm">Financial Management</span></h6>
                                    </div>
                                    <div class="latest-newsletter-list-excerpt" >
                                        <p class="mb-0" >
                                            In business, there’s nothing more true than the saying “you need money to make money”.
                                        </p>
                                    </div>
                                    <div class="latest-newsletter-list-date mt-2" >
                                        <a href="">20 January 2024</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="latest-newsletter-list-container-none-bg mb-2 p-4 rounded" >
                        <div class="container px-0">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                                    <a href="">
                                        <img src="https://placehold.co/600x400" class="img-fluid rounded w-100" alt="featured-image">
                                    </a>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <h6 class="newsletter-title" >
                                        <a href="">Newsletter Title</a>
                                    </h6>
                                    <div class="latest-newsletter-list-category" >
                                        <h6><span class="badge badge-gray rounded-sm">Financial Management</span></h6>
                                    </div>
                                    <div class="latest-newsletter-list-excerpt" >
                                        <p class="mb-0" >
                                            In business, there’s nothing more true than the saying “you need money to make money”.
                                        </p>
                                    </div>
                                    <div class="latest-newsletter-list-date mt-2" >
                                        <a href="">20 January 2024</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="latest-newsletter-list-container-bg mb-3 p-4 rounded" >
                        <div class="container px-0">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-3 mb-lg-2">
                                    <a href="">
                                        <img src="https://placehold.co/600x400" class="img-fluid rounded w-100" alt="featured-image">
                                    </a>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <h6 class="newsletter-title" >
                                        <a href="">Newsletter Title</a>
                                    </h6>
                                    <div class="latest-newsletter-list-category" >
                                        <h6><span class="badge text-bg-light badge-white rounded-sm">Financial Management</span></h6>
                                    </div>
                                    <div class="latest-newsletter-list-excerpt" >
                                        <p class="mb-0" >
                                            In business, there’s nothing more true than the saying “you need money to make money”.
                                        </p>
                                    </div>
                                    <div class="latest-newsletter-list-date mt-2" >
                                        <a href="">20 January 2024</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
