<div class="newsletter-categories py-3" >

    {{ if newsletter_categories }}
    {{ newsletter_categories }}
    <div class="section-{{ value  }} py-4" >
        <div class="container">

            <div class="row mb-3">
                <div class="col-8">
                    <h5 class="main-heading text-uppercase" >{{ label }}</h5>
                </div>
                <div class="col-4 text-end">
                    <a href="">See All <i class="fa-regular fa-circle-right"></i></a>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-5 newsletter-categories-container-items">
                <div class="col">
                    <div class="newsletter-categories-container-items-bg">

                        <div class="newsletter-categories-container-items-featured-image">
                            <a href=""><img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image"></a>
                        </div>
                        <div class="newsletter-categories-container-items-title my-2">
                            <p class="mb-0" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        </div>
                        <div class="newsletter-categories-container-items-date">
                            <small><a href="">JAN 12, 2024</a></small>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="newsletter-categories-container-items-bg">

                        <div class="newsletter-categories-container-items-featured-image">
                            <a href=""><img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image"></a>
                        </div>
                        <div class="newsletter-categories-container-items-title my-2">
                            <p class="mb-0" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        </div>
                        <div class="newsletter-categories-container-items-date">
                            <small><a href="">JAN 12, 2024</a></small>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="newsletter-categories-container-items-bg">

                        <div class="newsletter-categories-container-items-featured-image">
                            <a href=""><img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image"></a>
                        </div>
                        <div class="newsletter-categories-container-items-title my-2">
                            <p class="mb-0" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        </div>
                        <div class="newsletter-categories-container-items-date">
                            <small><a href="">JAN 12, 2024</a></small>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="newsletter-categories-container-items-bg">

                        <div class="newsletter-categories-container-items-featured-image">
                            <a href=""><img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image"></a>
                        </div>
                        <div class="newsletter-categories-container-items-title my-2">
                            <p class="mb-0" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        </div>
                        <div class="newsletter-categories-container-items-date">
                            <small><a href="">JAN 12, 2024</a></small>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="newsletter-categories-container-items-bg">

                        <div class="newsletter-categories-container-items-featured-image">
                            <a href=""><img src="https://placehold.co/600x300" class="img-fluid rounded w-100" alt="featured-image"></a>
                        </div>
                        <div class="newsletter-categories-container-items-title my-2">
                            <p class="mb-0" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        </div>
                        <div class="newsletter-categories-container-items-date">
                            <small><a href="">JAN 12, 2024</a></small>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ /newsletter_categories }}
    {{ /if }}

</div>
