<div class="three-block-section pb-3 pb-sm-5">

    <div class="container">

        <div class="row mb-3">
            <div class="col text-center">
                <h2 class="main-heading text-uppercase" >{{ section_2_main_heading }}</h2>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="three-block-section-slider">

                    {{ section_2_items }}
                        <div class="three-block-section-slider-item h-100" >
                            <div class="three-block-section-slider-item-bg rounded-5 p-4 h-100" >
                                <div class="icon mb-3"><img src="{{ icon:permalink }}" class="img-fluid" alt="{{ icon:alt }}" /></div>
                                <div class="heading mb-3" ><h3>{{ heading }}</h3></div>
                                <div class="item-content"><p>{{ item_content }}</p></div>
                            </div>
                        </div>
                    {{ /section_2_items }}

                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col">
                <hr class="mb-0" >
            </div>
        </div>

    </div>

</div>
