@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --red: #9c1c1f;
    --light-red: #FCF7F8;
    --gray: #F3F5F9;
    --light-gray: #393939;
    --white: #ffffff;
    --black: #000000;
    --navy:#0A2C3D;
    --border-gray-color: #E8E8E8;
    --border-light-gray-color: #CED5E5;
}

html,
body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-weight: 300;
}

html,
body,
h6>.badge{
    font-family: 'Roboto', sans-serif !important;
}

h6>.badge,
a{
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--red);
}

.hero-row{
    background-color: var(--light-red);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    color: var(--navy);
}

h6>a{
    color: unset;
}

h1, h2, h3, h4, h5, h6,
.newsletter-categories-container-items-title p,
h6>a{
    font-weight: 700;
}

.hero-section .sub-heading{
    font-size: 20px;
}

.three-block-section-slider-item{
    padding: 15px;
}

.three-block-section-slider-item-bg{
    border: 1px solid var(--border-gray-color);
}

.slick-dots {
    bottom: -30px;
    display: flex !important;
    justify-content: center;
    gap: 10px;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f6b9bd;
    cursor: pointer;
}

.slick-dots li button {
    display: none;
}

.slick-slide>div{
    height: 100%;
}

.badge-gray{
    color: var(--black);
}

.badge-gray,
.latest-newsletter-list-container-bg,
.three-block-section-slider-item-bg,
.footer-subscribe-section>.container{
    background-color: var(--gray);
}

.badge-white{
    border: 1px solid var(--border-light-gray-color);
}

.newsletter-categories>div:nth-child(odd) {
    background-color: var(--light-red);
}

.btn-danger,
.slick-dots li.slick-active{
    background-color: var(--red);
    border-color: var(--red);
}

.hero-form-container{
    background-color: var(--white);
}
